{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{plugins, [rebar3_hex]}.
{deps, [
    {amqp_client, "3.8.5"},
    {gproc, "0.8.0"},
    {jsx, "2.11.0"},
    {lager, "3.8.0"},
    {poolboy, "1.5.2"}
]}.
% {shell, [
%     {apps, [kyu]},
%     {config, "sys.config"}
% ]}.
{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [{meck, "0.9.0"}]}
    ]},
    {docs, [
        {deps, [{edown, "0.8.1"}]}
    ]}
]}.
{edoc_opts, [
    {doclet, edown_doclet},
    {stylesheet, ""}
]}.
