{plugins, [rebar3_hex]}.
{deps, [
    {amqp_client, "~> 3.0"},
    {gproc, "~> 0.9"},
    {jsx, "~> 3.0"},
    {poolboy, "~> 1.0"}
]}.
{shell, [
    {apps, [kyu]},
    {config, "sys.config"}
]}.
{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {ct_opts, [{sys_config, "sys.config"}]},
        {deps, [meck]}
    ]},
    {docs, [
        {deps, [edown]},
        {edoc_opts, [
            {doclet, edown_doclet},
            {stylesheet, ""}
        ]}
    ]}
]}.
