{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {amqp_client, "3.8.2"},
    {gproc, "0.8.0"},
    {jsx, "2.10.0"},
    {lager, "3.8.0"},
    {poolboy, "1.5.2"}
]}.
% {shell, [
%     {apps, [kyu]},
%     {config, "sys.config"}
% ]}.
{profiles, [
    {test, [
        {deps, [{meck, "0.8.13"}]}
    ]},
    {docs, [
        {deps, [{edown, "0.8.1"}]}
    ]}
]}.
{edoc_opts, [{doclet, edown_doclet}]}.
